{% load crispy_forms_filters %}
{% include "movies/index.html" %}

{% block page_header %}
  {% include "includes/page_header.html" %}


{% endblock %}

{% block content %}

<div class="">
	<h1 class="text-uppercase text-center">Registration</h1>
  <div class="card" style="border-radius: 20px;">
    <div class="container py-20 text-center">
      <div class="text-uppercase">
        <form class="" method="POST">
		    {% csrf_token %}
		    {{ register_form|crispy }}

		    <button class="btn btn-outline-danger" type="submit">Register</button>
	      </form>
      </div>
    </div>
  </div>


  <br>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}

{% block footer %}
  {% include "includes/page_footer.html" %}
{% endblock %}
