{% include "movies/index.html" %}

<body>

    {% block page_header %}
      {% include "includes/page_header.html" %}
    {% endblock %}

        <!---->
        <!-- banner -->
        <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
            <div class="container-fluid py-md-3">
                <div class="row">
                    <div class="side-bar col-lg-3">
                        <!-- sidebar -->
                        {% block sidebar %}
                          {% include "includes/sidebar.html" %}
                        {% endblock %}
                        <!-- //sidebar -->
                    </div>

                    <!-- ACTOR CARDS -->
                    <div class="left-ads-display col-lg-9">
                        <div class="row">
                          {% for actor in actor_list %}
                            {% block movies_card %}
                              {% include "includes/actor_card.html" %}
                            {% endblock %}
                          {% endfor %}
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- //contact -->
        <!-- footer -->
        {% block footer %}
          {% include "includes/page_footer.html" %}
        {% endblock %}
</body>