
  <div class="col-md-4 product-men">
    <div class="product-shoe-info editContent text-center mt-lg-4" >
      <div class="men-thumb-item">
        <img src="{{ director.profile_image.url }}" class="img-fluid" alt="" >
      </div>
      <div class="item-info-product">
        <div class="product_price">
          <div class="grid-price ">
            <a href="{% url "movies:director-detail" pk=director.id %}" class="editContent" >
              <span class="money ">
              {{ director.first_name}}
                {{ director.last_name}}
              </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>